<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYear()}">VALUE</p>

<hr/>

<div th:if="${not #lists.isEmpty(personBooks)}">
    <b>Книги:</b>
    <div th:each="book : ${personBooks}">
        <span th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></span><br/>
    </div>
</div>
<div th:if="${#lists.isEmpty(personBooks)}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<hr/>

<form th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" method="GET">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>