<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>

<hr/>

<div th:if="${people}">
    Эта книга свободна. Кому назначить её ?
    <form th:action="@{/books/{id}/give(id=${book.bookId})}" method="post">
        <label for="personId">Выберите человека:</label>
        <select name="personId" id="personId">
            <option th:each="person : ${people}"
                    th:value="${person.getPersonId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<div th:if="${owner}">
    <p th:text="'Книга сейчас у: ' + ${owner.getName() + ', ' + owner.getYear()}">VALUE</p>
</div>

<hr/>

<form th:action="@{/books/{id}/release(id=${book.getBookId()})}" method="post">
    <input type="submit" value="Освободить"/>
</form>

<form th:action="@{/books/{id}/edit(id=${book.getBookId()})}" method="GET">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>